@import "tailwindcss";
.footer-link {
  @apply cursor-pointer transition-all duration-200 ease-out;
}

.footer-link:hover {
  @apply text-black translate-x-1;
}


@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spinSlow {
  animation: spinSlow 6s linear infinite;
}
